@font-face {
    font-family: 'Black';
    src: url('SF-UI-Display-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('SF-UI-Display-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavy';
    src: url('SF-UI-Display-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('SF-UI-Display-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('SF-UI-Display-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('SF-UI-Display-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Semibold';
    src: url('SF-UI-Display-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Thin';
    src: url('SF-UI-Display-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ultralight';
    src: url('SF-UI-Display-Ultralight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextBold';
    src: url('SF-UI-Text-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldItalic';
    src: url('SF-UI-Text-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextHeavy';
    src: url('SF-UI-Text-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextHeavyItalic';
    src: url('SF-UI-Text-HeavyItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextItalic';
    src: url('SF-UI-Text-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextLight';
    src: url('SF-UI-Text-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextLightItalic';
    src: url('SF-UI-Text-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextMedium';
    src: url('SF-UI-Text-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextMediumItalic';
    src: url('SF-UI-Text-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextRegular';
    src: url('SF-UI-Text-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextSemibold';
    src: url('SF-UI-Text-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextSemiboldItalic';
    src: url('SF-UI-Text-SemiboldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BlackItalic';
    src: url('Raleway-BlackItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('Raleway-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('Raleway-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('Raleway-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBoldItalic';
    src: url('Raleway-ExtraBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('Raleway-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraLightItalic';
    src: url('Raleway-ExtraLightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('Raleway-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('Raleway-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium.';
    src: url('Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-MediumItalic.';
    src: url('Raleway-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('Raleway-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBoldItalic';
    src: url('Raleway-SemiBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('Raleway-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ThinItalic';
    src: url('Raleway-ThinItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang Bold';
    src: url('PingFang-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang ExtraLight';
    src: url('PingFang-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang Heavy';
    src: url('PingFang-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang Light';
    src: url('PingFang-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang Medium';
    src: url('PingFang-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang Regular';
    src: url('PingFang-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}